extends layout

block content
  .container
    .row.justify-content-center.mt-5
      .col-md-6
        .card.shadow
          .card-body
            h1.card-title.text-center Login
            form(action="/login", method="POST")
              .form-group
                label(for="username") Username:
                input#username.form-control(type="text", name="username", required)
              .form-group
                label(for="password") Password:
                input#password.form-control(type="password", name="password", required)
              button.btn.btn-primary.btn-block(type="submit") Login
