extends layout

block content
  h1 Sign Up
  if error
    p.error= error
  form(action="/signup", method="POST")
    .form-group
      label(for="firstName") First Name:
      input#firstName.form-control(type="text", name="firstName", required)
    .form-group
      label(for="lastName") Last Name:
      input#lastName.form-control(type="text", name="lastName", required)
    .form-group
      label(for="username") Username:
      input#username.form-control(type="text", name="username", required)
    .form-group
      label(for="password") Password:
      input#password.form-control(type="password", name="password", required)
    .form-group
      label(for="confirmPassword") Confirm Password:
      input#confirmPassword.form-control(type="password", name="confirmPassword", required)
    button.btn.btn-primary.btn-block(type="submit") Sign Up
